body{
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.tour{
    background: #074357;
    height: 100vh;
    margin: 0;
}

h2{
    margin: 0;
    color: white;
}
.tour__head{
    padding-top: 7vh;
    text-align: center;
    margin-bottom: 50px;
}

.image-container{
    height: 26.190rem;

    position: relative;
    width: 85%;
    display: block;
    margin: 0 auto;
    margin-left: 7%;
    overflow: hidden;
    height: 500px;
  border: 2px solid #ebb47a;
  border-radius: 10px;
}

canvas{
    width: 100%;
}